.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress {
  font-size: 2rem;
}

.page {
  display: flex;
  background: #fff;
  padding: 25px;
}

.introduction {
  padding: 25px;
}

.about {
  max-width: 460px;
}

.content {
  flex: 1 0 auto;
  padding: 25px;
}

.module {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  background: #f6f6f7;
  text-decoration: none;
  color: initial;
}

.module > div {
  padding: 30px;
}

.moduleTitle {
  flex: 1 0 auto;
}

.assessment {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  background: #f6f6f7;
  text-decoration: none;
  color: initial;
}

.assessmentTitle {
  flex: 1 0 auto;
}

.assessment > div {
  padding: 30px;
}