.label {
  margin: 0 0 10px;
  display: block;
}

.heading {
  margin: 0 0 5px;
}

.input {
  padding: 8px 12px;
  width: 100%;
}

.select {
  padding: 8px 12px;
  width: 100%;
}

.form {
  max-width: 460px;
  margin: 0 auto;
}

.button {
  padding: 8px 12px;
  display: block;
  margin: 0 auto 10px;
  min-width: 120px;
}

.errors {
  background: #fcf684;
  border: 1px solid;
  color: #d9534f;
  padding: 8px 12px;
  margin: 0 0 10px;
}

.success {
  background: #b1fba6;
  border: 1px solid;
  color: #79ab67;
  padding: 8px 12px;
  margin: 0 0 10px;
}

.checkbox {
  display: flex;
  margin: 0 0 10px;
}

.checkbox input {
  margin: 0 10px 0 0;
}