.label {
  display: flex;
  align-items: center;
  margin: 0 0 10px;
}

.input {
  padding: 8px 12px;
  width: 100%;
}

.form {
  max-width: 460px;
}

.button {
  padding: 8px 12px;
}

.errors {
  background: #fcf684;
  border: 1px solid;
  color: #d9534f;
  padding: 8px 12px;
  margin: 0 0 10px;
}