.content {
  padding: 15px;
  margin: 0 auto;
}

@supports (display: grid) {
  .content {
    display: grid;
    grid-template-areas: 
      "header header"
      "sidebar content"
      "footer footer";
  }
  .title {
    grid-area: header;
  }
}