.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  font-size: 2rem;
}

.page {
  display: flex;
  background: #fff;
  padding: 25px;
  flex: 1 0 auto;
}

.content {
  padding: 25px;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.progress {
  margin: auto 0 0;
}

.sidebar {
  padding: 25px;
  width: 30%;
}